<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Juwlery</title>
    <link rel="apple-touch-icon" sizes="180x180" href="images/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="images/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="images/favicon-16x16.png">
<link rel="manifest" href="images/manifest.json">
<meta name="theme-color" content="#ffffff ">
    <link rel="stylesheet" href="css/animate.css">
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/game">New Game</a></li>
            <li>New game</li>
        </ul>
    </div>
<div class="reloadHolder">
    <div class="procent"></div>
</div>
<div class="container-holder">
<div class="container">
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <div class="col"></div>
    <button id="reload">Reload</button>
</div>
<div class="player-status">
    <ul class="allPlayers">
       <% for(var i=0;i<docs.length;i++){ %>
        <li><%= docs[i].username %> <%= docs[i].points %>pt </li>
    <%  } %>
    </ul>
</div>
</div>

<div class="infoHolder">
    <button id="start">START GAME</button>
</div>
<div class="displayDiv">
    <div class="iconHolder">
        <img src="images/facebook.png" alt="">
        <span id="fbCount" class="badge">10</span>
    </div>
    <div class="iconHolder">
        <img src="images/swarm.png" alt="">
        <span id="swCount" class="badge">10</span>

    </div>
    <div class="iconHolder">
        <img src="images/pinterest.png" alt="">
        <span  id="pinCount" class="badge">10</span>

    </div>
    <div class="iconHolder">
        <img src="images/flickr.png" alt="">
        <span  id="flCount" class="badge">10</span>

    </div>
    <div class="iconHolder">
        <img src="images/deviantart.png" alt="">
        <span id="devCount"  class="badge">10</span>

    </div>
    <div class="iconHolder">
        <img src="images/tumblr.png" alt="">
        <span  id="tumCount" class="badge">10</span>

    </div>
    <div class="iconHolder">
        <img src="images/instagram.png" alt="">
        <span  id="instCount" class="badge">10</span>

    </div>
    <div class="iconHolder">
        <img src="images/google-plus.png" alt="">
        <span id="googleCount"  class="badge">10</span>

    </div>
    <div class="iconHolder">
        <img src="images/soundcloud.png" alt="">
        <span id="soundCount"  class="badge">10</span>

    </div>
</div>

<audio id="metch" src="sound1.mp3"></audio>
<audio id="metch2" src="sound2.mp3"></audio>

<audio id="timeUp" src="sound3.mp3"></audio>
<script src="js/jquery-3.2.1.min.js"></script>
<script src="js/main.js"></script>
</body>
</html>